<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://kit.fontawesome.com/fca98d1848.js" crossorigin="anonymous"></script>

<style>
    * {font-family: 'Noto Sans KR', sans-serif;}
    div{box-sizing: border-box;}
    .wrap{
        /*border: 1px solid red;*/
        width: 1000px;
        padding-top: 20px;
        margin: auto;
    }
    /*가장 상단, 과정(작은글씨)*/
    #order-process{
        /*border: 1px solid blue;*/
        width: 100%;
        padding-right: 30px;
        text-align: right;
    }
    #order-process span{font-size: 10px;}
    #order-header h3{font-weight: 800; padding-left: 15px;}
</style>
</head>
<body>
    <div class="wrap">
        <div id="order-process">
            <span>01장바구니 &gt; </span>
            <span style="color: rgb(52,206,117);">02주문서/결제 &gt;</span>
            <span>03주문완료</span>
        </div>
        <div id="order-header">
            <h3>주 &nbsp; 문 &nbsp; 완 &nbsp; 료</h3>
            <hr>
        </div>

        <!-- 주문완료 정보 영역 -->
    </div>
</body>
</html>