<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 배너 등록 SQL문 -->
	<entry key="insertBanner">
		INSERT 
		  INTO BANNER
		     (
		       B_CODE
		     , B_NAME
		     , B_POSITION
		     , B_PATH
		     , B_ORIGINNAME
		     , B_CHANGENAME
		     )
		     VALUES
		     (
		       SEQ_BANNER.NEXTVAL
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     )
	</entry>
	
	<!-- 개시여부 상관없이 전체보기 시 배너 리스트를 조회하는 sql문 -->
	<entry key="selectBannerList">
		SELECT *
          FROM (
                SELECT ROWNUM RNUM, A.*
                  FROM (
                        SELECT
                               B_CODE
                             , B_NAME
                             , B_STARTDATE
                             , B_STATUS
                             , B_POSITION
                          FROM BANNER
                         WHERE B_ADMINSHOW = 'Y'
                         ORDER 
                            BY DECODE(B_STATUS, 'Y', 1), B_POSITION ASC
                             , B_CODE DESC
                        ) A
                )
        WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 게시중인 배너 리스트를 조회하는 sql문 -->
	<entry key="selectPostingBannerList">
	    SELECT *
          FROM (
                SELECT ROWNUM RNUM, A.*
                  FROM (
                        SELECT
                               B_CODE
                             , B_NAME
                             , B_STARTDATE
                             , B_STATUS
                             , B_POSITION
                          FROM BANNER
                         WHERE B_STATUS = 'Y' 
                           AND B_ADMINSHOW = 'Y'
                         ORDER 
                            BY B_CODE 
                        ) A
                )
        WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 게시종료 배너 리스트를 조회하는 sql문 -->
	<entry key="selectEndOfPostingBannerList">
	    SELECT *
          FROM (
                SELECT ROWNUM RNUM, A.*
                  FROM (
                        SELECT
                               B_CODE
                             , B_NAME
                             , B_STARTDATE
                             , B_STATUS
                             , B_POSITION
                          FROM BANNER
                         WHERE B_STATUS = 'N'
                           AND B_ADMINSHOW = 'Y' 
                         ORDER 
                            BY B_CODE 
                        ) A
                )
        WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	<!-- 페이징바에 사용할 등록된 베너게시글의 총 갯수를 구하는 sql문 -->
	<entry key="selectListCount">
		SELECT 
		       COUNT(*) count
		  FROM BANNER
		 WHERE B_ADMINSHOW = 'Y'
	</entry>
	
	<!-- 페이징바에 사용할 게시중인 베너게시글의 총 갯수를 구하는 sql문 -->
	<entry key="selectPostingListCount">
		SELECT 
		       COUNT(*) count
		  FROM BANNER
         WHERE B_STATUS = 'Y'
           AND B_ADMINSHOW = 'Y'
	</entry>
	
	<!-- 페이징바에 사용할 게시종료한 베너게시글의 총 갯수를 구하는 sql문 -->
	<entry key="selectEndPostingListCount">
		SELECT 
		       COUNT(*) count
		  FROM BANNER
         WHERE B_STATUS = 'N'
           AND B_ADMINSHOW = 'Y' 
	</entry>
	
	<!-- 메인1 글씨 오른쪽 '변경하기'버튼 클릭 시 생성되는 모달창 안에 띄워줄 게시종료 상태 리스트 -->
	<entry key="selectFisrtMainList">
		SELECT
		       B_CODE
		     , B_NAME
		     , B_PATH || B_CHANGENAME "FILEPATH"
		  FROM BANNER
		 WHERE B_STATUS = 'N'
           AND B_ADMINSHOW = 'Y'
		 ORDER
		    BY B_CODE DESC
	</entry>
	









</properties>