<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 배너 등록 SQL문 -->
	<entry key="insertBanner">
		INSERT 
		  INTO BANNER
		     (
		       B_CODE
		     , B_NAME
		     , B_POSITION
		     , B_PATH
		     , B_ORIGINNAME
		     , B_CHANGENAME
		     )
		     VALUES
		     (
		       SEQ_BANNER.NEXTVAL
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     )
	</entry>
	
	<entry key="">
	
	
	
	</entry>
	
	<entry key="">
	
	
	</entry>
	
	











</properties>