<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 배너 등록 SQL문 -->
	<entry key="insertBanner">
		INSERT 
		  INTO BANNER
		     (
		       B_CODE
		     , B_NAME
		     , B_POSITION
		     , B_PATH
		     , B_ORIGINNAME
		     , B_CHANGENAME
		     )
		     VALUES
		     (
		       SEQ_BANNER.NEXTVAL
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     )
	</entry>
	
	<!-- 개시여부 상관없이 전체보기 시 배너 리스트를 조회하는 sql문 -->
	<entry key="selectBannerList">
		SELECT *
          FROM (
                SELECT ROWNUM RNUM, A.*
                  FROM (
                        SELECT
                               B_CODE
                             , B_NAME
                             , B_STARTDATE
                             , B_STATUS
                             , B_POSITION
                          FROM BANNER
                         ORDER 
                            BY DECODE(B_STATUS, 'Y', 1), B_POSITION ASC
                             , B_CODE DESC
                        ) A
                )
        WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 페이징바에 사용할 등록된 베너게시글의 총 갯수를 구하는 sql문 -->
	<entry key="selectListCount">
		SELECT 
		       COUNT(*) count
		  FROM BANNER
	</entry>
	
	











</properties>