<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectCart">
		SELECT C.M_CODE, C.CU_CODE, CU.CU_NAME, C.P_CODE, P.P_NAME, CA_AMOUNT,
        		CU.CU_PRICE, P.P_PRICE, P.P_MAINIMG
		  FROM CART C
		  LEFT  JOIN CUSTOM CU ON (C.CU_CODE = CU.CU_CODE)
		  LEFT  JOIN PRODUCT P ON (C.P_CODE = P.P_CODE)
		 WHERE C.M_CODE = ?
	</entry>
	
	<entry key="findCartCustom">
		SELECT *
		  FROM CART
		 WHERE M_CODE = ?
		   AND CU_CODE = ?
	</entry>
	
	<entry key="insertCartCustom">
		INSERT 
		  INTO CART
		  (
		    M_CODE
		  , CU_CODE
		  , CA_AMOUNT
		  )
		  VALUES
		  (
		    ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="findCartProduct">
		SELECT *
		  FROM CART
		 WHERE M_CODE = ?
		   AND P_CODE = ?
	</entry>
	
	<entry key="updateProductAmount">
		UPDATE CART
		   SET CA_AMOUNT = ?
		 WHERE P_CODE = ?
	</entry>
	
	<entry key="insertCartProduct">
		INSERT 
		  INTO CART
		  (
		    M_CODE
		  , P_CODE
		  , CA_AMOUNT
		  )
		  VALUES
		  (
		    ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="deleteCartCustom">
		DELETE
		  FROM CART
		 WHERE M_CODE = ?
		   AND CU_CODE = ?
	</entry>
	
	<entry key="deleteCartProduct">
		DELETE
		  FROM CART
		 WHERE M_CODE = ?
		   AND P_CODE = ?
	</entry>
</properties>