<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT
		       COUNT(*) count
		  FROM ITEM
	</entry>

	<entry key="selectItemList">
		SELECT *
		  FROM ITEM
		 WHERE CI_SHOW = 'Y'
		   AND CI_STOCK > 0
	</entry>
	
	<entry key="selectAdminItemList">
		SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, A.*
		           FROM (
		                  SELECT *
		                    FROM ITEM
		                   WHERE CI_SHOW = 'Y'
		                )A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="updateMainImg">
		UPDATE ITEM
  		   SET CI_MAINIMG = ?
	</entry>
	
	<entry key="insertItemAdmin">
		INSERT 
		  INTO ITEM
		  (
		    CI_CODE
		  , CI_NAME
		  , CI_CATEGORY
		  , CI_PROVIDER
		  , CI_PROVIDEPRICE
		  , CI_PRICE
		  , CI_MAINIMG
		  , CI_STOCK
		  , CI_SHOW
		  )
		  VALUES
		  (
		    'CI' || SEQ_ITEM.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , (SELECT CI_MAINIMG FROM ITEM WHERE CI_CODE = 'CI1001')
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="selectItem">
		SELECT *
		  FROM ITEM
		 WHERE CI_CODE = ?
	</entry>

</properties>