<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT
		       COUNT(*) count
		  FROM ITEM
		 WHERE CI_ADMINSHOW = 'Y'
	</entry>

	<entry key="selectItemList">
		SELECT *
		  FROM ITEM
		 WHERE CI_SHOW = 'Y'
		   AND CI_STOCK > 0
	</entry>
	
	<entry key="selectAdminItemList">
		SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, A.*
		           FROM (
		                  SELECT *
		                    FROM ITEM
		                   WHERE CI_ADMINSHOW = 'Y'
		                )A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="updateMainImg">
		UPDATE CUSTOM
  		   SET CU_MAINIMG = ?
	</entry>
	
	<entry key="insertItemAdmin">
		INSERT 
		  INTO ITEM
		  (
		    CI_CODE
		  , CI_NAME
		  , CI_CATEGORY
		  , CI_PROVIDER
		  , CI_PROVIDEPRICE
		  , CI_PRICE
		  , CI_STOCK
		  , CI_SHOW
		  )
		  VALUES
		  (
		    'CI' || SEQ_ITEM.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="selectItem">
		SELECT *
		  FROM ITEM
		 WHERE CI_CODE = ?
	</entry>
	
	<entry key="updateItem">
		UPDATE ITEM
		   SET CI_NAME = ?
		     , CI_CATEGORY = ?
		     , CI_PROVIDER = ?
		     , CI_PROVIDEPRICE = ?
		     , CI_PRICE = ?
		     , CI_SHOW = ?
		     , CI_STOCK = ?
		 WHERE CI_CODE = ?
	</entry>
	
	<entry key="updateItemShow">
		UPDATE ITEM
		   SET CI_SHOW = ?
		 WHERE CI_CODE = ?
	</entry>
	
	<entry key="selectCategoryCount">
		SELECT
		       COUNT(*) count
		  FROM ITEM
		 WHERE CI_CATEGORY = ?
	</entry>
	
	<entry key="selecAdminCategoryList">
		SELECT *
		  FROM ITEM
		 WHERE CI_CATEGORY = ?
		   AND CI_ADMINSHOW = 'Y'
	</entry>
	
	<entry key="pwdCheck">
		SELECT M_PWD
		  FROM MEMBER
		 WHERE M_CODE = 1
	</entry>
	
	<entry key="deleteItem">
		UPDATE ITEM
		   SET CI_ADMINSHOW = 'N'
		     , CI_SHOW = 'N'
		 WHERE CI_CODE = ?
	</entry>
	
	<entry key="searchItem">
		SELECT *
		  FROM ITEM
		 WHERE CI_NAME LIKE '%' || ? || '%'
		   AND CI_ADMINSHOW = 'Y' 
	</entry>
	
	<entry key="insertCustom">
		INSERT 
		  INTO CUSTOM
		  (
		    CU_CODE
		  , M_CODE
		  , CU_NAME
		  , CU_PRICE
		  , CU_MAINIMG
		  )
		  VALUES
		  (
		    'CU' || SEQ_CUSTOM.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , (SELECT CU_MAINIMG FROM CUSTOM WHERE CU_CODE = 'CU1001')
		  )
	</entry>
	
	<entry key="selectCustomCode">
		SELECT 'CU' || SEQ_CUSTOM.CURRVAL "CU_CODE"
  		  FROM DUAL
	</entry>
	
	<entry key="insertCustomItem">
		INSERT 
		  INTO CUSTOM_ITEM
		  (
		    CU_CODE
		  , CI_CODE
		  , CI_AMOUNT
		  )
		  VALUES
		  (
		    ?
		  , ?
		  , ?
		  )
	</entry>

</properties>