<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 사용자 - 1:1문의 등록 -->
	<entry key="insertInquiry">
		INSERT
		  INTO INQUIRY
		  (
		    I_CODE
		  , M_CODE
		  , I_CATEGORY
		  , I_TITLE
		  , I_CONTENT
		  , I_STATUS
		  )
		  VALUES
		  (
		    SEQ_INQUIRY.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , 'Y'
		  )	
	</entry>

	<entry key="insertFile">
		 INSERT 
		   INTO "FILE"
		   (
		     F_CODE
		   , F_NAME
		   , F_RENAME
		   , F_PATH
		   , F_EXTENSION
		   , F_REF
		   , F_REFCODE
		   )
		   VALUES
		   (
		     SEQ_FILE.NEXTVAL
		   , ?
		   , ?
		   , ?
		   , SUBSTR(?,INSTR(?,'.', -1)+1)
		   , 'I'
		   , SEQ_INQUIRY.CURRVAL
		   )	
	</entry>
	
	<entry key="selectInquiryProcessingListCount">
		SELECT
		       COUNT(*) count
		  FROM INQUIRY
		 WHERE I_ANSWER = 'N'	
		   AND I_STATUS = 'Y'
	</entry>
	
	<entry key="selectInquiryProcessingAdminView">
		SELECT *
          FROM (
                SELECT ROWNUM RNUM, A.*
                  FROM (
                        SELECT
                               I_CODE
                             , M_CODE
                             , I_CATEGORY
                             , I_TITLE
                             , I_CONTENT
                             , I_ANSWER
                             , I_DATE
                          FROM INQUIRY
                         WHERE I_STATUS = 'Y'
                           AND I_ANSWER = 'N'
                         ORDER
                            BY I_CODE DESC
                        ) A
                )
        WHERE RNUM BETWEEN ? AND ?
	
	</entry>

	<entry key="selectInquiryCompletionListCount">
		SELECT
		       COUNT(*) count
		  FROM INQUIRY
		 WHERE I_ANSWER = 'Y'	
		   AND I_STATUS = 'Y'
	</entry>
	
	<entry key="selectInquiryCompletionAdminView">
		SELECT *
          FROM (
                SELECT ROWNUM RNUM, A.*
                  FROM (
                        SELECT
                               I_CODE
                             , M_CODE
                             , I_CATEGORY
                             , I_TITLE
                             , I_CONTENT
                             , I_ANSWER
                             , I_DATE
                             , A_CONTENT
                             , A_DATE
                          FROM INQUIRY
                         WHERE I_STATUS = 'Y'
                           AND I_ANSWER = 'Y'
                         ORDER
                            BY I_CODE DESC
                        ) A
                )
        WHERE RNUM BETWEEN ? AND ?
	
	</entry>	
	<entry key="">
	
	
	</entry>
	
	<entry key="">
	
	
	</entry>
	
	<entry key="">
	
	
	</entry>
	
	<entry key="">
	
	
	</entry>
	
	<entry key="">
	
	
	</entry>
</properties>