<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- 로그인 시 필요한 sql문 -->
	<entry key="loginMember">
		SELECT 
		       M_CODE
		     , M_NAME
		     , M_ID
		     , M_PWD
		     , M_PHONE
		     , M_BIRTH
		     , M_GENDER
		     , M_ADDRESS
		     , M_SUBADDRESS
		     , M_POSTCODE
		     , M_EMAIL
		     , M_ENROLLDATE
		     , M_INTRODUCER
		     , M_STATUS
		     , M_QUITREASON
		     , M_QUITDATE
		     , M_AD
		     , M_BLACKDATE
		     , M_BLACKREASON
		     , M_POINT
		 FROM MEMBER
		WHERE M_ID = ?
		  AND M_PWD = ?
		  AND (M_STATUS = 'Y'
		   OR M_STATUS = 'A')
	</entry>

	<!-- 아이디 더블체크 -->
	<entry key="idCheck">
		SELECT
		       COUNT(*) "COUNT"
		  FROM MEMBER
		 WHERE M_ID = ?
	</entry>

	<entry key="emailCheck">
		SELECT
		       COUNT(*) "COUNT"
		  FROM MEMBER
		 WHERE M_EMAIL = ?
	</entry>

	<entry key="insertMember">
	INSERT
	  INTO MEMBER
	     (
	       M_CODE
	     , M_NAME
	     , M_ID
	     , M_PWD
	     , M_PHONE
	     , M_BIRTH
	     , M_GENDER
	     , M_ADDRESS
	     , M_SUBADDRESS
	     , M_POSTCODE
	     , M_EMAIL
	     , M_INTRODUCER
	     , M_AD
	     , M_POINT
	     )
	VALUES
	    (
	      SEQ_MEMBER.NEXTVAL
	    , ?
	    , ?
	    , ?
	    , ?
	    , ?
	    , ?
	    , ?
	    , ?
	    , ?
	    , ?
	    , ?
	    , ?
	    , 1000
	    )
	</entry>

	<entry key="pwdCheck">
		 SELECT 
		 		COUNT(*) "COUNT"
		   FROM MEMBER
		  WHERE M_ID = ?
		    AND M_PWD = ?
	</entry>

	<entry key="deleteMember">
		UPDATE MEMBER
		   SET M_STATUS = 'N'
		     , M_QUITREASON = ?
		     , M_QUITDATE = SYSDATE
		 WHERE M_ID = ?
		   AND M_PWD = ?
	</entry>

	<entry key="updateMember">
		UPDATE MEMBER
		   SET M_PWD = ?
		     , M_NAME = ?
		     , M_PHONE = ?
		     , M_EMAIL = ?
		     , M_ADDRESS = ?
		     , M_SUBADDRESS = ?
		     , M_POSTCODE = ?
		     , M_AD = ?
		 WHERE M_ID = ?
	</entry>
	
	<entry key="selectMember">
		SELECT
			   M_CODE
		     , M_NAME
		     , M_ID
		     , M_PWD
		     , M_PHONE
		     , M_BIRTH
		     , M_GENDER
		     , M_ADDRESS
		     , M_SUBADDRESS
		     , M_POSTCODE
		     , M_EMAIL
		     , M_ENROLLDATE
		     , M_INTRODUCER
		     , M_STATUS
		     , M_QUITREASON
		     , M_QUITDATE
		     , M_AD
		     , M_BLACKDATE
		     , M_BLACKREASON
		     , M_POINT
 		  FROM MEMBER
 		 WHERE M_ID = ?
	</entry>





</properties>