<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectOrderList">
		SELECT
		       ORDER_CODE
		     , ORDER_AMOUNT
		     , ORDER_COMPANY
		     , ORDER_INVOICE
		     , ORDER_STATUS
		     , ORDER_DATE
		  FROM "ORDER"
		 WHERE M_CODE = ?;
	</entry>

	<entry key="selectInquiryList">
		SELECT
		        I_CODE
		      , M_CODE
		      , I_TITLE
		      , I_CATEGORY
		      , I_DATE
		      , I_ANSWER
		  FROM INQUIRY
		  JOIN MEMBER USING (M_CODE)
		 ORDER
		    BY I_CODE DESC
	</entry>
</properties>