<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 공지사항 사용자화면 -->
	<entry key="selectNoticeUserView">
		SELECT *
          FROM (
                SELECT ROWNUM RNUM, A.*
                  FROM (
                        SELECT
                               NOTICE_CODE
                             , NOTICE_TITLE
                             , NOTICE_DATE
                             , NOTICE_VIEW
                          FROM NOTICE
                         WHERE NOTICE_STATUS = 'Y'
                         ORDER
                            BY NOTICE_CODE DESC
                        ) A
                )
        WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectListCount">
		SELECT 
		       COUNT(*) count
		  FROM NOTICE
		 WHERE NOTICE_STATUS = 'Y'	
	</entry>
	
	<entry key="increaseCount">
		UPDATE
		       NOTICE 
		   SET NOTICE_VIEW = NOTICE_VIEW+1
		 WHERE NOTICE_CODE = ?
		   AND NOTICE_STATUS = 'Y'	
	</entry>
	
	<entry key="selectNotice">
		SELECT 
		       NOTICE_CODE
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , NOTICE_DATE
		     , NOTICE_VIEW
		  FROM NOTICE
		 WHERE NOTICE_STATUS = 'Y'
		   AND NOTICE_CODE = ?
	</entry>
	
	<entry key="insertNotice">
		INSERT
		  INTO NOTICE
		  (
		    NOTICE_CODE
		  , NOTICE_TITLE
		  , NOTICE_CONTENT
		  )
		  VALUES
		  (
		    SEQ_NOTICE.NEXTVAL
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="insertFile">
	 INSERT 
	   INTO "FILE"
	   (
	     F_CODE
	   , F_NAME
	   , F_RENAME
	   , F_PATH
	   , F_EXTENSION
	   , F_REF
	   , F_REFCODE
	   )
	   VALUES
	   (
	     SEQ_FILE.NEXTVAL
	   , ?
	   , ?
	   , ?
	   , SUBSTR(?,INSTR(?,'.', -1)+1)
	   , 'N'
	   , SEQ_NOTICE.CURRVAL
	   )
	</entry>
	
	<entry key="deleteNotice">
		UPDATE NOTICE
			   SET NOTICE_STATUS = 'N'
			 WHERE NOTICE_CODE = ?	
	</entry>
	
	<!-- 관리자 상세보기 화면 조회용 sql문 (조회수 증가x) -->
	<entry key="selectAdminNotice">
		SELECT 
		       NOTICE_CODE
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		  FROM NOTICE
		 WHERE NOTICE_STATUS='Y'
		   AND NOTICE_CODE = ?
	</entry>
	
	<!-- 관리자 상세보기 화면 조회용 sql문 -->
	<entry key="selectAdminFile">
		SELECT
		       F_CODE
		     , F_NAME
		     , F_RENAME
		     , F_PATH
		  FROM "FILE"
		 WHERE F_REFCODE = ?	
		   AND F_REF = 'N'
	</entry>
	
	<!-- 수정 시 공통적으로  수행되는 update문 -->
	<entry key="updateNotice">
		UPDATE
		       NOTICE
		   SET NOTICE_TITLE = ?
		     , NOTICE_CONTENT = ?
		 WHERE NOTICE_CODE = ?		
	</entry>
	
	<entry key="updateFile">
		 UPDATE
		        "FILE"
		    SET F_NAME = ?
		      , F_RENAME = ?
		      , F_PATH = ?
		      , F_EXTENSION = SUBSTR(?,INSTR(?,'.', -1)+1)
		  WHERE F_CODE = ?
	</entry>
	
	<entry key="insertNewFile">
	 INSERT 
	   INTO "FILE"
	   (
	     F_CODE
	   , F_NAME
	   , F_RENAME
	   , F_PATH
	   , F_EXTENSION
	   , F_REF
	   , F_REFCODE
	   )
	   VALUES
	   (
	     SEQ_FILE.NEXTVAL
	   , ?
	   , ?
	   , ?
	   , SUBSTR(?,INSTR(?,'.', -1)+1)
	   , 'N'
	   , ?
	   )		
	</entry>
	
	<entry key="searchTitle">
		SELECT *
          FROM (
                SELECT ROWNUM RNUM, A.*
                  FROM (
                        SELECT *
                          FROM NOTICE
                         WHERE NOTICE_TITLE LIKE '%' || ? || '%'
                           AND NOTICE_STATUS = 'Y'
                         ORDER
                            BY NOTICE_CODE DESC
                        ) A
                )
        WHERE RNUM BETWEEN ? AND ?				
	</entry>
	
	<entry key="selectSerachListCount">
       SELECT 
		       COUNT(*) count
		  FROM NOTICE
		 WHERE NOTICE_STATUS = 'Y'	
           AND NOTICE_TITLE LIKE '%' || ? || '%'	
	</entry>

</properties>