<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectCustom">
		SELECT 
		       CU_CODE
		     , CU_NAME
		     , CU_PRICE
		     , CU_MAINIMG
		  FROM CUSTOM
		 WHERE CU_CODE = ?
	</entry>
	
	<entry key="selectProduct">
		SELECT 
		       P_CODE
		     , P_NAME
		     , P_MAINIMG
		  FROM PRODUCT
		 WHERE P_CODE = ?
	</entry>
	
	<entry key="selectMember">
	
	</entry>
	
	<entry key="insertPayment">
		INSERT ALL
		INTO PAYMENT
		  VALUES
		  (
		    'PAY' || SEQ_PAYMENT.NEXTVAL
		  , '카드'
		  , SYSDATE
		  , ?
		  , ?
		  )
		 INTO CARD  
		  VALUES
		  (
		    'PAY' || SEQ_PAYMENT.CURRVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  )
		SELECT * 
		  FROM DUAL
	</entry>
	
	<entry key="selectPaymentCode">
		SELECT 'PAY' || SEQ_PAYMENT.CURRVAL "PM_CODE"
		  FROM DUAL
	</entry>
	
	<entry key="insertOrder">
		INSERT 
		  INTO "ORDER"
		  (
		    ORDER_CODE
		  , M_CODE
		  , PM_CODE
		  , ORDER_AMOUNT
		  , ORDER_NAME
		  , ORDER_ADDRESS
		  , ORDER_SUBADDRESS
		  , ORDER_ZIPCODE
		  , ORDER_PHONE
		  , ORDER_EMAIL
		  , ORDER_REQUEST
		  , ORDER_POINT
		  , ORDER_STATUS
		  )
		  VALUES
		  (
		    'O' || SEQ_ORDER.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="selectOrderCode">
		SELECT 'O' || SEQ_ORDER.CURRVAL "ORDER_CODE"
		  FROM DUAL
	</entry>
	
	<entry key="insertSubOrderCustom">
		INSERT
		  INTO SUBORDER
		  (
		    ORDER_CODE
		  , CU_CODE
		  , SUB_AMOUNT
		  )
		  VALUES
		  (
		    ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="insertSubOrderProduct">
		INSERT
		  INTO SUBORDER
		  (
		    ORDER_CODE
		  , P_CODE
		  , SUB_AMOUNT
		  )
		  VALUES
		  (
		    ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="insertCashPayment">
		INSERT ALL
		    INTO PAYMENT
		      VALUES
		      (
		        'PAY' || SEQ_PAYMENT.NEXTVAL
			  , '입금'
			  , SYSDATE
			  , ?
			  , ?
		      )
		     INTO CASH 
		     (
		       PM_CODE
		     , CASH_BANK
		     , CASH_NAME
		     )
		      VALUES
		      (
		        'PAY' || SEQ_PAYMENT.CURRVAL
		      , ?
		      , ?
		      )
		    SELECT * 
		      FROM DUAL
	</entry>
	
	<entry key="selectOrder">
		SELECT *
		  FROM "ORDER"
		 WHERE ORDER_CODE = ?
	</entry>
	
	<entry key="selectPayment">
		SELECT *
		  FROM PAYMENT
		 WHERE PM_CODE = ?
	</entry>
	
	<entry key="selectCustomName">
		SELECT ORDER_CODE, CU_CODE, CU_NAME
		  FROM SUBORDER
		  JOIN CUSTOM USING (CU_CODE)
		 WHERE ORDER_CODE = ?
	</entry>
	
	<entry key="selectProductName">
		SELECT ORDER_CODE, P_CODE, P_NAME
		  FROM SUBORDER
		  JOIN PRODUCT USING (P_CODE)
		 WHERE ORDER_CODE = ?
	</entry>
	
	<entry key="selectCard">
		SELECT *
		  FROM CARD
		 WHERE PM_CODE = ?
	</entry>
	
	<entry key="selectCash">
		SELECT *
		  FROM CASH
		 WHERE PM_CODE = ?
	</entry>
	
	<entry key="insertPointPlus">
		INSERT
		  INTO POINT
		  (
		    POINT_CODE
		  , M_CODE
		  , ORDER_CODE
		  , POINT_TYPECODE
		  , POINT
		  )
		  VALUES
		  (
		    SEQ_POINT.NEXTVAL
		  , ?
		  , ?
		  , 30
		  , (SELECT PM_FINALCOST * 0.01 * 1
		     FROM PAYMENT
		     WHERE PM_CODE IN ( SELECT PM_CODE FROM "ORDER" WHERE ORDER_CODE = ?))
		  )
	</entry>
	
	<entry key="insertPointMinus">
		INSERT
		  INTO POINT
		  (
		    POINT_CODE
		  , M_CODE
		  , ORDER_CODE
		  , POINT_TYPECODE
		  , POINT
		  )
		  VALUES
		  (
		    SEQ_POINT.NEXTVAL
		  , ?
		  , ?
		  , 40
		  , (SELECT ORDER_POINT * -1
		     FROM "ORDER"
		     WHERE ORDER_CODE = ?)
		  )
	</entry>
	
</properties>