<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="selectListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM PRODUCT
		 WHERE P_SHOW = 'Y'
		   AND P_ADMINSHOW = 'Y'
	</entry>
	
	<entry key="selectProductList">
		SELECT *
		  FROM (
		         SELECT
		                ROWNUM RNUM, A.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_MAINIMG
		                       , P_STOCK
		                    FROM PRODUCT
		                   WHERE P_SHOW = 'Y'
		                     AND P_ADMINSHOW = 'Y'
		                   ORDER
		                      BY P_CODE DESC
		                 ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	
	
	
	
	
	
	
	
	
	<entry key="insertProduct">
		INSERT
		  INTO PRODUCT
		  (
		    P_CODE
		  , P_NAME
		  , P_CATEGORY
		  , P_PRICE
		  , P_PROVIDER
		  , P_PROVIDEPRICE
		  , P_MAINIMG
		  , P_DETAILIMG
		  , P_DETAIL
		  , P_SHOW
		  , P_DATE
		  , P_STOCK
		  , P_KEYWORD
		  )
		  VALUES
		  (
		    'P' || SEQ_PRODUCT.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , SYSDATE
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="selectAdminListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM PRODUCT
		 WHERE P_ADMINSHOW = 'Y'
	</entry>
	
	<entry key="selectAdminProductList">
		SELECT *
		  FROM (
		         SELECT
		                ROWNUM RNUM, A.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_PROVIDER
		                       , P_PROVIDEPRICE
		                       , P_SHOW
		                       , P_STOCK
		                    FROM PRODUCT
		                   WHERE P_ADMINSHOW = 'Y'
		                   ORDER
		                      BY P_CODE DESC
		                 ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectAdminProductDetail">
		SELECT
		        P_CODE
		     ,  P_NAME
		     , P_CATEGORY
		     , P_PRICE
		     , P_PROVIDER
		     , P_PROVIDEPRICE
		     , P_MAINIMG
		     , P_DETAILIMG
		     , P_DETAIL
		     , P_SHOW
		     , TO_CHAR(P_DATE, 'YYYY.MM.DD') "P_DATE"
		     , P_STOCK
		     , P_KEYWORD
		  FROM PRODUCT
		 WHERE P_CODE = ?
		   AND P_ADMINSHOW = 'Y'
	</entry>
	
	<entry key="selectAdminOptionListCount">
		SELECT COUNT(*) COUNT
		  FROM PRODUCT
		 WHERE P_CATEGORY = ?
		   AND P_ADMINSHOW = 'Y'
	</entry>
	
	<entry key="selectAdminOptionList">
		SELECT *
		  FROM (
		         SELECT
		                ROWNUM RNUM, A.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_PROVIDER
		                       , P_PROVIDEPRICE
		                       , p_SHOW
		                       , P_STOCK
		                    FROM PRODUCT
		                   WHERE P_CATEGORY = ?
		                     AND P_ADMINSHOW = 'Y'
		                   ORDER
		                      BY P_CODE DESC
		                 ) A
		        )
	</entry>
	
	<entry key="selectAdminSearchList">
		SELECT *
		  FROM (
		         SELECT
		                ROWNUM RNUM, A.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_PROVIDER
		                       , P_PROVIDEPRICE
		                       , p_SHOW
		                       , P_STOCK
		                    FROM PRODUCT
		                   WHERE P_NAME LIKE '%' || ? || '%'
		                     AND P_ADMINSHOW = 'Y'
		                   ORDER
		                      BY P_CODE DESC
		                 ) A
		        )
	</entry>
	

</properties>