<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	
	<entry key="selectMainBestMenuList">
		SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, P.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_MAINIMG
		                       , P_STOCK
		                       , SUM(NVL(SUB_AMOUNT, 0)) SALES
				               , <![CDATA[
		                         CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
				                      ELSE 0
				                  END DISCOUNT
		                         ]]>
		                    FROM SUBORDER
		                   RIGHT
		                    JOIN  PRODUCT USING (P_CODE)
		                   WHERE P_SHOW = 'Y' 
		                     AND P_ADMINSHOW = 'Y'
		                   GROUP
		                      BY P_CODE, P_NAME, P_CATEGORY, P_PRICE, P_MAINIMG, P_STOCK
		                   ORDER
		                      BY SALES DESC
		                ) P
		       )
		 WHERE RNUM BETWEEN 1 AND 3
	</entry>
	
	
	
	
	
	
	
	
	
	
	
	<entry key="selectListCount">
		SELECT COUNT(*) COUNT
		  FROM (
		        SELECT
		               P_CODE
		             , P_NAME
		             , P_CATEGORY
		             , P_PRICE
		             , P_MAINIMG
		             , P_STOCK
		             , SUM(NVL(SUB_AMOUNT, 0)) SALES
		             , <![CDATA[
                       CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
		                    ELSE 0
		                END DISCOUNT
                       ]]>
		          FROM SUBORDER
		         RIGHT
		         JOIN PRODUCT USING (P_CODE)
		        WHERE P_SHOW = 'Y' 
		          AND P_ADMINSHOW = 'Y'
		        GROUP
		           BY P_CODE, P_NAME, P_CATEGORY, P_PRICE, P_MAINIMG, P_STOCK
		        ORDER
		           BY P_CODE DESC
		      )
	</entry>
	
	<entry key="selectProductList">
		SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, P.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_MAINIMG
		                       , P_STOCK
		                       , SUM(NVL(SUB_AMOUNT, 0)) SALES
		                       , <![CDATA[
		                         CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
				                      ELSE 0
				                  END DISCOUNT
		                         ]]>
		                    FROM SUBORDER
		                   RIGHT
		                    JOIN PRODUCT USING (P_CODE)
		                   WHERE P_SHOW = 'Y' 
		                     AND P_ADMINSHOW = 'Y'
		                   GROUP
		                      BY P_CODE, P_NAME, P_CATEGORY, P_PRICE, P_MAINIMG, P_STOCK
		                   ORDER
		                      BY P_CODE DESC
		                ) P
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectOptionListHot">
		SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, P.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_MAINIMG
		                       , P_STOCK
		                       , SUM(NVL(SUB_AMOUNT, 0)) SALES
		                       , <![CDATA[
		                         CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
				                      ELSE 0
				                  END DISCOUNT
		                         ]]>
		                    FROM SUBORDER
		                   RIGHT
		                    JOIN  PRODUCT USING (P_CODE)
		                   WHERE P_SHOW = 'Y' 
		                     AND P_ADMINSHOW = 'Y'
		                   GROUP
		                      BY P_CODE, P_NAME, P_CATEGORY, P_PRICE, P_MAINIMG, P_STOCK
		                   ORDER
		                      BY SALES DESC
		                ) P
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectOptionListMin">
		SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, P.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_MAINIMG
		                       , P_STOCK
		                       , SUM(NVL(SUB_AMOUNT, 0)) SALES
		                       , <![CDATA[
		                         CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
				                      ELSE 0
				                  END DISCOUNT
		                         ]]>
		                    FROM SUBORDER
		                   RIGHT
		                    JOIN PRODUCT USING (P_CODE)
		                   WHERE P_SHOW = 'Y' 
		                     AND P_ADMINSHOW = 'Y'
		                   GROUP
		                      BY P_CODE, P_NAME, P_CATEGORY, P_PRICE, P_MAINIMG, P_STOCK
		                   ORDER
		                      BY P_PRICE
		                ) P
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectOptionListMax">
		SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, P.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_MAINIMG
		                       , P_STOCK
		                       , SUM(NVL(SUB_AMOUNT, 0)) SALES
		                       , <![CDATA[
		                         CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
				                      ELSE 0
				                  END DISCOUNT
		                         ]]>
		                    FROM SUBORDER
		                   RIGHT
		                    JOIN PRODUCT USING (P_CODE)
		                   WHERE P_SHOW = 'Y' 
		                     AND P_ADMINSHOW = 'Y'
		                   GROUP
		                      BY P_CODE, P_NAME, P_CATEGORY, P_PRICE, P_MAINIMG, P_STOCK
		                   ORDER
		                      BY P_PRICE DESC
		                ) P
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="categoryListCount">
		SELECT COUNT(*) COUNT
		  FROM (
		        SELECT
		               P_CODE
		             , P_NAME
		             , P_CATEGORY
		             , P_PRICE
		             , P_MAINIMG
		             , P_STOCK
		             , SUM(NVL(SUB_AMOUNT, 0)) SALES
                     , <![CDATA[
                       CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
                            ELSE 0
                        END DISCOUNT
                       ]]>
		          FROM SUBORDER
		         RIGHT
		         JOIN PRODUCT USING (P_CODE)
		        WHERE P_SHOW = 'Y' 
		          AND P_ADMINSHOW = 'Y'
		          AND P_CATEGORY = ?
		        GROUP
		           BY P_CODE, P_NAME, P_CATEGORY, P_PRICE, P_MAINIMG, P_STOCK
		        ORDER
		           BY P_CODE
		      )
	</entry>
	
	<entry key="selectCategoryList">
		SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, P.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_MAINIMG
		                       , P_STOCK
		                       , SUM(NVL(SUB_AMOUNT, 0)) SALES
		                       , <![CDATA[
		                         CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
				                      ELSE 0
				                  END DISCOUNT
		                         ]]>
		                    FROM SUBORDER
		                   RIGHT
		                    JOIN PRODUCT USING (P_CODE)
		                   WHERE P_SHOW = 'Y' 
		                     AND P_ADMINSHOW = 'Y'
		                     AND P_CATEGORY = ?
		                   GROUP
		                      BY P_CODE, P_NAME, P_CATEGORY, P_PRICE, P_MAINIMG, P_STOCK
		                   ORDER
		                      BY P_CODE
		                ) P
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectCategoryOptionListHot">
		SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, P.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_MAINIMG
		                       , P_STOCK
		                       , SUM(NVL(SUB_AMOUNT, 0)) SALES
		                       , <![CDATA[
		                         CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
				                      ELSE 0
				                  END DISCOUNT
		                         ]]>
		                    FROM SUBORDER
		                   RIGHT
		                    JOIN  PRODUCT USING (P_CODE)
		                   WHERE P_SHOW = 'Y' 
		                     AND P_ADMINSHOW = 'Y'
		                     AND P_CATEGORY = ?
		                   GROUP
		                      BY P_CODE, P_NAME, P_CATEGORY, P_PRICE, P_MAINIMG, P_STOCK
		                   ORDER
		                      BY SALES DESC
		                ) P
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectCategoryOptionListMin">
		SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, P.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_MAINIMG
		                       , P_STOCK
		                       , SUM(NVL(SUB_AMOUNT, 0)) SALES
		                       , <![CDATA[
		                         CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
				                      ELSE 0
				                  END DISCOUNT
		                         ]]>
		                    FROM SUBORDER
		                   RIGHT
		                    JOIN PRODUCT USING (P_CODE)
		                   WHERE P_SHOW = 'Y' 
		                     AND P_ADMINSHOW = 'Y'
		                     AND P_CATEGORY = ?
		                   GROUP
		                      BY P_CODE, P_NAME, P_CATEGORY, P_PRICE, P_MAINIMG, P_STOCK
		                   ORDER
		                      BY P_PRICE
		                ) P
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectCategoryOptionListMax">
		SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, P.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_MAINIMG
		                       , P_STOCK
		                       , SUM(NVL(SUB_AMOUNT, 0)) SALES
		                       , <![CDATA[
		                         CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
				                      ELSE 0
				                  END DISCOUNT
		                         ]]>
		                    FROM SUBORDER
		                   RIGHT
		                    JOIN PRODUCT USING (P_CODE)
		                   WHERE P_SHOW = 'Y' 
		                     AND P_ADMINSHOW = 'Y'
		                     AND P_CATEGORY = ?
		                   GROUP
		                      BY P_CODE, P_NAME, P_CATEGORY, P_PRICE, P_MAINIMG, P_STOCK
		                   ORDER
		                      BY P_PRICE DESC
		                ) P
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectBestList">
		SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, P.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_MAINIMG
		                       , P_STOCK
		                       , SUM(NVL(SUB_AMOUNT, 0)) SALES
		                       , <![CDATA[
		                         CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
				                      ELSE 0
				                  END DISCOUNT
		                         ]]>
		                    FROM SUBORDER
		                   RIGHT
		                    JOIN  PRODUCT USING (P_CODE)
		                   WHERE P_SHOW = 'Y' 
		                     AND P_ADMINSHOW = 'Y'
		                   GROUP
		                      BY P_CODE, P_NAME, P_CATEGORY, P_PRICE, P_MAINIMG, P_STOCK
		                   ORDER
		                      BY SALES DESC
		                ) P
		       )
		 WHERE RNUM BETWEEN 1 AND 12
		 ORDER
		    BY P_CODE DESC
	</entry>
	
	<entry key="selectBestOptionListHot">
		SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, P.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_MAINIMG
		                       , P_STOCK
		                       , SUM(NVL(SUB_AMOUNT, 0)) SALES
		                       , <![CDATA[
		                         CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
				                      ELSE 0
				                  END DISCOUNT
		                         ]]>
		                    FROM SUBORDER
		                   RIGHT
		                    JOIN  PRODUCT USING (P_CODE)
		                   WHERE P_SHOW = 'Y' 
		                     AND P_ADMINSHOW = 'Y'
		                   GROUP
		                      BY P_CODE, P_NAME, P_CATEGORY, P_PRICE, P_MAINIMG, P_STOCK
		                   ORDER
		                      BY SALES DESC
		                ) P
		       )
		 WHERE RNUM BETWEEN 1 AND 12
	</entry>
	
	<entry key="selectBestOptionListMin">
		SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, P.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_MAINIMG
		                       , P_STOCK
		                       , SUM(NVL(SUB_AMOUNT, 0)) SALES
		                       , <![CDATA[
		                         CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
				                      ELSE 0
				                  END DISCOUNT
		                         ]]>
		                    FROM SUBORDER
		                   RIGHT
		                    JOIN  PRODUCT USING (P_CODE)
		                   WHERE P_SHOW = 'Y' 
		                     AND P_ADMINSHOW = 'Y'
		                   GROUP
		                      BY P_CODE, P_NAME, P_CATEGORY, P_PRICE, P_MAINIMG, P_STOCK
		                   ORDER
		                      BY SALES DESC
		                ) P
		       )
		 WHERE RNUM BETWEEN 1 AND 12
		 ORDER
		    BY P_PRICE
	</entry>
	
	<entry key="selectBestOptionListMax">
		SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, P.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_MAINIMG
		                       , P_STOCK
		                       , SUM(NVL(SUB_AMOUNT, 0)) SALES
		                       , <![CDATA[
		                         CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
				                      ELSE 0
				                  END DISCOUNT
		                         ]]>
		                    FROM SUBORDER
		                   RIGHT
		                    JOIN  PRODUCT USING (P_CODE)
		                   WHERE P_SHOW = 'Y' 
		                     AND P_ADMINSHOW = 'Y'
		                   GROUP
		                      BY P_CODE, P_NAME, P_CATEGORY, P_PRICE, P_MAINIMG, P_STOCK
		                   ORDER
		                      BY SALES DESC
		                ) P
		       )
		 WHERE RNUM BETWEEN 1 AND 12
		 ORDER
		    BY P_PRICE DESC
	</entry>
	
	<entry key="selectSaleListCount">
		SELECT COUNT(*) COUNT
          FROM (
                 SELECT
                        P_CODE
                      , P_NAME
                      , P_CATEGORY
                      , P_PRICE
                      , P_MAINIMG
                      , P_STOCK
                      , SUM(NVL(SUB_AMOUNT, 0)) SALES
                      , <![CDATA[
                        CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
		                     ELSE 0
		                 END DISCOUNT
                        ]]>
                   FROM SUBORDER
                  RIGHT
                   JOIN PRODUCT USING (P_CODE)
                  WHERE P_SHOW = 'Y' 
                    AND P_ADMINSHOW = 'Y'
                  GROUP
                     BY P_CODE, P_NAME, P_CATEGORY, P_PRICE, P_MAINIMG, P_STOCK
                  ORDER
                     BY P_CODE DESC
               ) P
         WHERE DISCOUNT > 0
	</entry>
	
	<entry key="selectSaleList">
		SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, P.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_MAINIMG
		                       , P_STOCK
		                       , SUM(NVL(SUB_AMOUNT, 0)) SALES
		                       , <![CDATA[
		                         CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
				                      ELSE 0
				                  END DISCOUNT
		                         ]]>
		                    FROM SUBORDER
		                   RIGHT
		                    JOIN PRODUCT USING (P_CODE)
		                   WHERE P_SHOW = 'Y' 
		                     AND P_ADMINSHOW = 'Y'
		                   GROUP
		                      BY P_CODE, P_NAME, P_CATEGORY, P_PRICE, P_MAINIMG, P_STOCK
		                   ORDER
		                      BY P_CODE DESC
		                ) P
		         WHERE DISCOUNT > 0       
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectSaleOptionListHot">
		SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, P.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_MAINIMG
		                       , P_STOCK
		                       , SUM(NVL(SUB_AMOUNT, 0)) SALES
		                       , <![CDATA[
		                         CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
				                      ELSE 0
				                  END DISCOUNT
		                         ]]>
		                    FROM SUBORDER
		                   RIGHT
		                    JOIN PRODUCT USING (P_CODE)
		                   WHERE P_SHOW = 'Y' 
		                     AND P_ADMINSHOW = 'Y'
		                   GROUP
		                      BY P_CODE, P_NAME, P_CATEGORY, P_PRICE, P_MAINIMG, P_STOCK
		                   ORDER
		                      BY SALES DESC, P_CODE
		                ) P
		         WHERE DISCOUNT > 0       
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectSaleOptionListMin">
		SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, P.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_MAINIMG
		                       , P_STOCK
		                       , SUM(NVL(SUB_AMOUNT, 0)) SALES
		                       , <![CDATA[
		                         CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
				                      ELSE 0
				                  END DISCOUNT
		                         ]]>
		                    FROM SUBORDER
		                   RIGHT
		                    JOIN PRODUCT USING (P_CODE)
		                   WHERE P_SHOW = 'Y' 
		                     AND P_ADMINSHOW = 'Y'
		                   GROUP
		                      BY P_CODE, P_NAME, P_CATEGORY, P_PRICE, P_MAINIMG, P_STOCK
		                   ORDER
		                      BY P_PRICE
		                ) P
		         WHERE DISCOUNT > 0       
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectSaleOptionListMax">
		SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, P.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_MAINIMG
		                       , P_STOCK
		                       , SUM(NVL(SUB_AMOUNT, 0)) SALES
		                       , <![CDATA[
		                         CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
				                      ELSE 0
				                  END DISCOUNT
		                         ]]>
		                    FROM SUBORDER
		                   RIGHT
		                    JOIN PRODUCT USING (P_CODE)
		                   WHERE P_SHOW = 'Y' 
		                     AND P_ADMINSHOW = 'Y'
		                   GROUP
		                      BY P_CODE, P_NAME, P_CATEGORY, P_PRICE, P_MAINIMG, P_STOCK
		                   ORDER
		                      BY P_PRICE DESC
		                ) P
		         WHERE DISCOUNT > 0       
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectProduct">
		SELECT
		       P_CODE
		     , P_NAME
		     , P_PRICE
		     , P_MAINIMG
		     , P_DETAILIMG
		     , P_DETAIL
             , <![CDATA[
               CASE WHEN SUM(NVL(SUB_AMOUNT, 0)) BETWEEN 0 AND 3 AND P_CODE < 'P1010' THEN (P_PRICE - P_PRICE * 0.05)
                    ELSE 0
                END DISCOUNT
               ]]>
		  FROM SUBORDER
		 RIGHT
		  JOIN PRODUCT USING (P_CODE)
		 WHERE P_SHOW = 'Y' 
		   AND P_ADMINSHOW = 'Y'
		   AND P_CODE = ?
		 GROUP
		    BY P_CODE, P_NAME, P_PRICE, P_MAINIMG, P_DETAILIMG, P_DETAIL
	</entry>
	
	
	
	
	
	
	
	
	
	
	
	<entry key="insertProduct">
		INSERT
		  INTO PRODUCT
		  (
		    P_CODE
		  , P_NAME
		  , P_CATEGORY
		  , P_PRICE
		  , P_PROVIDER
		  , P_PROVIDEPRICE
		  , P_MAINIMG
		  , P_DETAILIMG
		  , P_DETAIL
		  , P_SHOW
		  , P_DATE
		  , P_STOCK
		  , P_KEYWORD
		  )
		  VALUES
		  (
		    'P' || SEQ_PRODUCT.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , SYSDATE
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="selectAdminListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM PRODUCT
		 WHERE P_ADMINSHOW = 'Y'
	</entry>
	
	<entry key="selectAdminProductList">
		SELECT *
		  FROM (
		         SELECT
		                ROWNUM RNUM, A.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_PROVIDER
		                       , P_PROVIDEPRICE
		                       , P_SHOW
		                       , P_STOCK
		                    FROM PRODUCT
		                   WHERE P_ADMINSHOW = 'Y'
		                   ORDER
		                      BY P_CODE DESC
		                 ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectAdminProductDetail">
		SELECT
		        P_CODE
		     ,  P_NAME
		     , P_CATEGORY
		     , P_PRICE
		     , P_PROVIDER
		     , P_PROVIDEPRICE
		     , P_MAINIMG
		     , P_DETAILIMG
		     , P_DETAIL
		     , P_SHOW
		     , TO_CHAR(P_DATE, 'YYYY.MM.DD') "P_DATE"
		     , P_STOCK
		     , P_KEYWORD
		  FROM PRODUCT
		 WHERE P_CODE = ?
		   AND P_ADMINSHOW = 'Y'
	</entry>
	
	<entry key="selectAdminOptionListCount">
		SELECT COUNT(*) COUNT
		  FROM PRODUCT
		 WHERE P_CATEGORY = ?
		   AND P_ADMINSHOW = 'Y'
	</entry>
	
	<entry key="selectAdminOptionList">
		SELECT *
		  FROM (
		         SELECT
		                ROWNUM RNUM, A.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_PROVIDER
		                       , P_PROVIDEPRICE
		                       , p_SHOW
		                       , P_STOCK
		                    FROM PRODUCT
		                   WHERE P_CATEGORY = ?
		                     AND P_ADMINSHOW = 'Y'
		                   ORDER
		                      BY P_CODE DESC
		                 ) A
		        )
	</entry>
	
	<entry key="selectAdminSearchList">
		SELECT *
		  FROM (
		         SELECT
		                ROWNUM RNUM, A.*
		           FROM (
		                  SELECT
		                         P_CODE
		                       , P_NAME
		                       , P_CATEGORY
		                       , P_PRICE
		                       , P_PROVIDER
		                       , P_PROVIDEPRICE
		                       , p_SHOW
		                       , P_STOCK
		                    FROM PRODUCT
		                   WHERE P_NAME LIKE '%' || ? || '%'
		                     AND P_ADMINSHOW = 'Y'
		                   ORDER
		                      BY P_CODE DESC
		                 ) A
		        )
	</entry>
	
	<entry key="updateAdminProductNewMainImg">
		UPDATE PRODUCT
		   SET P_NAME = ?
		     , P_CATEGORY = ?
		     , P_PRICE = ?
		     , P_PROVIDER = ?
		     , P_PROVIDEPRICE = ?
		     , P_MAINIMG = ?
		     , P_DETAILIMG = ?
		     , P_DETAIL = ?
		     , P_SHOW = ?
		     , P_DATE = SYSDATE
		     , P_STOCK = ?
		     , P_KEYWORD = ?
		 WHERE P_CODE = ?
	</entry>
	
	<entry key="updateAdminProductNewDetailImg">
		UPDATE PRODUCT
		   SET P_NAME = ?
		     , P_CATEGORY = ?
		     , P_PRICE = ?
		     , P_PROVIDER = ?
		     , P_PROVIDEPRICE = ?
		     , P_DETAILIMG = ?
		     , P_DETAIL = ?
		     , P_SHOW = ?
		     , P_DATE = SYSDATE
		     , P_STOCK = ?
		     , P_KEYWORD = ?
		 WHERE P_CODE = ?
	</entry>
	
	<entry key="updateAdminProduct">
		UPDATE PRODUCT
		   SET P_NAME = ?
		     , P_CATEGORY = ?
		     , P_PRICE = ?
		     , P_PROVIDER = ?
		     , P_PROVIDEPRICE = ?
		     , P_DETAIL = ?
		     , P_SHOW = ?
		     , P_DATE = SYSDATE
		     , P_STOCK = ?
		     , P_KEYWORD = ?
		 WHERE P_CODE = ?
	</entry>
	
	<entry key="deleteAdminProduct">
		UPDATE PRODUCT
		   SET P_SHOW = 'N'
		     , P_ADMINSHOW = 'N'
		 WHERE P_CODE = ?
	</entry>

</properties>