<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="selectReviewListCount">
		SELECT COUNT(*) COUNT
		  FROM REVIEW
		 WHERE P_CODE = ?
		   AND R_STATUS = 'Y'
	</entry>
	
	<entry key="selectReviewList">
		SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, R.*
		           FROM (
		                  SELECT
		                         R_CODE
		                       , M_CODE
		                       , M_NAME
		                       , P_NAME
		                       , R_CONTENT
                               , MAINIMG
		                       , TO_CHAR(R_DATE, 'YYYY.MM.DD') R_DATE
		                    FROM REVIEW
		                    JOIN MEMBER USING (M_CODE)
		                    JOIN PRODUCT USING (P_CODE)
		                   WHERE R_STATUS = 'Y'
		                     AND P_CODE = ?
		                   ORDER
		                      BY R_CODE DESC
		                ) R
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectProduct">
		SELECT
		       P_CODE
		     , P_NAME
		     , P_MAINIMG
		  FROM PRODUCT
		 WHERE P_CODE = ?
	</entry>
	
	<entry key="selectOrderList">
		SELECT
		       ORDER_CODE
		     , M_CODE
		  FROM "ORDER"
		  JOIN SUBORDER USING (ORDER_CODE)
		 WHERE P_CODE = ?
 		   AND M_CODE = ?
		   AND ORDER_STATUS = '배송완료'
	</entry>
	
	<entry key="insertReview">
		INSERT
		  INTO REVIEW
		  (
		    R_CODE
		  , ORDER_CODE
		  , M_CODE
		  , P_CODE
		  , R_CONTENT
		  )
		  VALUES
		  (
		    SEQ_REVIEW.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="insertFileList">
		INSERT
		  INTO "FILE"
		  (
		    F_CODE
		  , F_NAME
		  , F_RENAME
		  , F_PATH
		  , F_EXTENSION
		  , F_REF
		  , F_REFCODE
		  )
		  VALUES
		  (
		    SEQ_FILE.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , 'R'
		  , SEQ_REVIEW.CURRVAL
		  )
	</entry>
	
	<entry key="selectReview">
		SELECT
		       R_CODE
		     , R_CONTENT
		  FROM REVIEW
		 WHERE R_STATUS = 'Y'
		   AND R_CODE = ?
	</entry>
	
	<entry key="selectFileList">
		SELECT
		       F_CODE
		     , F_NAME
		     , F_RENAME
		     , F_PATH
		     , F_REFCODE
		  FROM "FILE"
		 WHERE F_REF = 'R'
		   AND F_REFCODE = ?
		 ORDER
  		    BY F_CODE
	</entry>
	
	<entry key="deleteReview">
		UPDATE REVIEW
		   SET R_STATUS = 'N'
		 WHERE R_CODE = ?
	</entry>
	
	<entry key="insertReportReview">
		INSERT
		  INTO REPORT
		  (
		    REPORT_CODE
		  , M_CODE
		  , R_CODE
		  , REPORT_CATEGORY
		  , REPORT_CONTENT
		  )
		  VALUES
		  (
		    SEQ_REPORT.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	
	
	<entry key="selectAdminReviewListCount">
		SELECT COUNT(*) COUNT
		  FROM REVIEW
	</entry>
	
	<entry key="selectAdminReviewList">
	SELECT *
		  FROM (
		         SELECT ROWNUM RNUM, R.*
		           FROM (
		                  SELECT 
		                         R_CODE
		                       , M_ID
		                       , P_NAME
		                       , R_CONTENT
		                       , TO_CHAR(R_DATE, 'YYYY.MM.DD') R_DATE
		                       , R_MAINSTATUS
		                       , R_STATUS
		                       , POINT_STATUS
		                   FROM REVIEW
		                   JOIN MEMBER USING (M_CODE)
		                   JOIN PRODUCT USING (P_CODE)
		                  ORDER 
		                     BY R_CODE DESC
		                ) R
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectAdminReviewDetail">
		SELECT
		       R_CODE
		     , M_ID 
		     , P_NAME
		     , R_CONTENT
 		     , TO_CHAR(R_DATE, 'YYYY.MM.DD') R_DATE
   			 , R_MAINSTATUS
		     , MAINIMG
		  FROM REVIEW
		  JOIN MEMBER USING (M_CODE)
		  JOIN PRODUCT USING (P_CODE)
		 WHERE R_CODE = ?
	</entry>
	
	<entry key="updateAdminReviewMainStatus">
		UPDATE REVIEW
		   SET R_MAINSTATUS = ?
		 WHERE R_STATUS = 'Y'
		   AND R_CODE = ?
	</entry>

</properties>