<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- 이용약관 리스트를 가져오는 SQL문  -->
	<entry key="selectTermsList">
		SELECT
				TERMS_CODE
			  , TERMS_CONTENT
		   FROM TERMS
		  WHERE TERMS_CATEGORY = '이용약관'
		  ORDER 
		    BY TERMS_CODE DESC
	</entry>
	
	<entry key="">

	
	</entry>
	
	
	<entry key="">

	
	</entry>
	
	


















</properties>